{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/shop/new">New product</a>
</p>

<ul>
  {% for product in products %}
  <li>
  <p>{{ product.manufacturer.company }} - {{ product.guitar.model }}, 
    Price: £{{product.guitar.retail_price}} <br>
    {{product.stock}}

    {% if product.stock =< 3 %}
    <span> skdasvnadfvaheve </span>
    {% else %}
    <span> green tick </span>

    {% endif %}
  </p>
    <p>
      <form action="/shop/{{ product.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Sell" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}