{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/shop/new">New product</a>
</p>

<ul>
  {% for product in products %}
  <li>
  <p> <a href="/shop/<id>"></p>{{ product.manufacturer.company }} - {{ product.guitar.model }}</a>, 
    Price: £{{product.guitar.retail_price}} <br>
    {{product.stock}}<br>

    {% if product.stock < 3 %}
    <span>&#x274C; Should probably stock up!</span>
    {% else %}
    <span>&#x2705; We're good!</span>

    {% endif %}
  </p>
    <p>
      <form action="/shop/{{ product.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Sell" />
      </form>
      <form action="/shop/{{product.id}}/edit" method="POST">
        <input class="btn btn--hanger" type="submit" value="Edit" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}