{% extends 'base.html' %}

{% block content %}
<h1>Add a Product</h1>

<form action="/shop" method="post">
  <label for="guitar">Select a guitar:</label>
    <select name="guitar_id" id="guitar">
      {% for guitar in guitars %}
      <option value="{{ guitar.id }}">{{ guitar.model }}</option>
      {% endfor %}
    </select>
  
  <label for="manufacturer">Select a manufacturer:</label>
    <select name="manufacturer_id" id="manufacturer">
      {% for manufacturer in manufacturers %}
      <option value="{{ manufacturer.id }}">{{ manufacturer.company }}</option>
      {% endfor %}
    </select><br>

    <label for="build_price">Cost:</label>
    <input type="number" id="build_price" name="build_price" min="250">
    <label for="retail_price">Price:</label>
    <input type="number" id="retail_price" name="retail_price" min="300">

      <input class="btn btn--action" type='submit' value="Add">
    
  

{% endblock %}